<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="bash" arguments="startup.sh" stdoutLogEnabled="true" stdoutLogFile="\home\LogFiles\httpPlatformStdout.log" startupTimeLimit="60"/>
  </system.webServer>
</configuration>
